<?xml version="1.0" ?>

<launch>
  <arg name="robot_name" default="thorvald" />
  <arg name="robot_model" default="thorvald_ii_4wd4ws_slim" />

  <arg name="world_name" value="thorvald_AB"/> 
  <!-- <arg name="world" default="enclosure" /> -->
  
  <arg name="model_extras" default="$(find thorvald_model)/urdf/sensor_modules/sensor_frames_lincoln.xacro" />

  <arg name="simple_sim" default="True" />
  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/>
  <arg name="verbose" default="false"/>




  <!-- Start gazebo and load the world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="gui" value="$(arg gui)"/>
    <arg name="headless" value="$(arg headless)"/>
    <arg name="debug" value="$(arg debug)"/>
    <arg name="verbose" value="$(arg verbose)"/>
    <arg name="world_name" value="$(find rasberry_gazebo)/worlds/$(arg world_name).world"/>
  </include>




  <!--include file="$(find rasberry_gazebo)/launch/polypoles.launch" /-->
  <include file="$(find rasberry_gazebo)/launch/thorvald_world_AB.launch" />


  <!-- model bringup -->
  <include file="$(find thorvald_model)/launch/model.launch">
    <arg name="robot_model" value="$(find thorvald_model)/config/$(arg robot_model)/$(arg robot_model).yaml" />
    <arg name="model_extras" value="$(arg model_extras)" />
  </include>


   
  <include file="$(find thorvald_base)/launch/base_bringup.launch">
    <arg name="robot_model" value="$(find thorvald_model)/config/$(arg robot_model)/$(arg robot_model).yaml" />
    <arg name="simple_sim" value="True" />
  </include>
 

  <!-- twist mux bringup -->
  <include file="$(find thorvald_twist_mux)/launch/twist_mux.launch" />

  <!--<include file="$(find thorvald_bringup)/launch/$(arg robot_model)/$(arg robot_model)_sim.launch" />-->

  <include file="$(find thorvald_teleop)/launch/teleop_xbox.launch" />
  
  <node pkg="gazebo_ros" type="spawn_model"
  		name="spawner" args="-urdf -param /robot_description -model thorvald_ii">
  </node>

  <node pkg="tf" type="static_transform_publisher" name="odom_to_world" args="0 0 0 0 0 0 odom world 10"/>

  <node pkg="tf" type="static_transform_publisher" name="world_to_map" args="0 0 0 0 0 0 world map 10"/>
</launch>


