<?xml version="1.0" ?>
<launch>  
  <arg name="actor_name" default="actor"/>
  <arg name="start_pose_x" default="0"/>
  <arg name="start_pose_y" default="0"/>
  <arg name="start_pose_z" default="0"/>
  <arg name="start_pose_R" default="0"/>
  <arg name="start_pose_P" default="0"/>
  <arg name="start_pose_Y" default="0"/>

  <group ns="$(arg actor_name)">

    <!--node pkg="tf" type="static_transform_publisher" name="map_to_actor_odom" args="$(arg start_pose_x) $(arg start_pose_y) $(arg start_pose_z) $(arg start_pose_R) $(arg start_pose_P) $(arg       start_pose_Y) /map $(arg actor_name)/odom 10"/-->

    <param name="robot_description" command="$(find xacro)/xacro '$(find rasberry_gazebo)/urdf/actor.xacro' '--inorder' actor_name:='$(arg actor_name)' tf_prefix:='$(arg actor_name)'"/>

    <node pkg="gazebo_ros" type="spawn_model" name="$(arg actor_name)_spawner" output="screen" args="-x $(arg start_pose_x) -y $(arg start_pose_y) -z $(arg start_pose_z) -R $(arg start_pose_R)  -P 		      $(arg start_pose_P)  -Y $(arg start_pose_Y) -urdf -param /$(arg actor_name)/robot_description -model $(arg actor_name)"/>

    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
      <param name="publish_frequency" type="double" value="30.0" />
    </node>

    <include file="$(find rasberry_gazebo)/launch/actor_move_base_teb.launch">
      <arg name="actor_name" value="$(arg actor_name)"/>
    </include>

   </group>
</launch> 
