Source: ros-kinetic-rasberry-gazebo
Section: misc
Priority: extra
Maintainer: Marc Hanheide <marc@hanheide.net>
Build-Depends: debhelper (>= 9.0.0), ros-kinetic-catkin, ros-kinetic-gazebo8-plugins, ros-kinetic-gazebo8-ros, ros-kinetic-rospy
Homepage: 
Standards-Version: 3.9.2

Package: ros-kinetic-rasberry-gazebo
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kinetic-gazebo8-plugins, ros-kinetic-gazebo8-ros, ros-kinetic-rospy
Description: The rasberry_gazebo package
