<?xml version="1.0"?>
<launch>
    <arg name="map" default="$(find rasberry_navigation)/maps/riseholme_sim.yaml"/>
    <arg name="no_go_map" default=""/>
    <arg name="use_no_go_map" default="false"/>

    <!-- lanch map server -->
    <node name="map_server" pkg="map_server" type="map_server" args="$(arg map)"/>

    <!-- launch no-go map server -->
    <node name="no_go_map_server" pkg="map_server" type="map_server" args="$(arg no_go_map)" if="$(arg use_no_go_map)">
        <remap from="/map" to="/no_go_map"/>
    </node>
    <node name="no_go_map_server" pkg="map_server" type="map_server" args="$(arg map)" unless="$(arg use_no_go_map)">
        <remap from="/map" to="/no_go_map"/>
    </node>
    
</launch>
