<?xml version="1.0" ?>
<launch>   
  <arg name="actor_name" default="actor00"/>
  <arg name= "tf_prefix" value="$(arg actor_name)" />

      <!--node pkg="laser_filters" type="scan_to_cloud_filter_chain" name="tilt_shadow_filter">
        <rosparam command="load" file="$(find rasberry_gazebo)/config/laser_config.yaml" />
        <param name="high_fidelity" value="true" />
        <param name="target_frame" type="string" value="$(arg tf_prefix)/base_link" />
      </node-->

      <node name="fake_localization" pkg="fake_localization" type="fake_localization">
        <!--param name="frame_id" value="/map" /-->
        <remap from="map" to="/map"/>
        <remap from="base_pose_ground_truth" to="odom" />
	<param name="odom_frame_id" type="string" value="$(arg actor_name)/odom"/>
        <param name="base_frame_id" type="string" value="$(arg actor_name)/base_footprint"/>
      </node>

      <!-- launch AMCL -->
      <!--include file="$(find rasberry_gazebo)/launch/amcl.launch">
        <arg name= "tf_prefix" value="$(arg tf_prefix)" />
      </include-->

      <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen" clear_params="true">
          <remap from="map" to="/map"/>
          <remap from="/scan" to="scan"/>

          <!--Parameters-->

          <!--Local planner-->
          <!--param name="controller_frequency" value="10.0"/>
          <param name="planner_frequency" value="0.5"/-->
          <rosparam file="$(find rasberry_gazebo)/config/move_base/teb/teb_planner_ros.yaml" command="load"/>
          <rosparam file="$(find rasberry_gazebo)/config/move_base/teb/teb_move_base_params.yaml" command="load"/>

          <rosparam file="$(find rasberry_gazebo)/config/move_base/costmap_common_params.yaml" command="load" ns="global_costmap"/>
          <rosparam file="$(find rasberry_gazebo)/config/move_base/costmap_common_params.yaml" command="load" ns="local_costmap"/>

          <rosparam file="$(find rasberry_gazebo)/config/move_base/local_costmap_params.yaml" command="load"/>
          <rosparam file="$(find rasberry_gazebo)/config/move_base/global_costmap_params.yaml" command="load"/>
	  <rosparam file="$(find rasberry_gazebo)/config/move_base/nav_fn_ros.yaml" command="load" />

	  <!-- resetting parameters values like frame names and topic names to the correct ones-->
          <rosparam param="global_costmap/robot_base_frame" subst_value="true">"$(arg tf_prefix)/base_link"</rosparam>
          <rosparam param="global_costmap/obstacle_layer/laser_scan_sensor/sensor_frame" subst_value="true">"$(arg tf_prefix)/hokuyo"</rosparam>
          <!--rosparam param="global_costmap/obstacle_layer/laser_scan_sensor/topic" subst_value="true">"$(arg actor_name)/scan"</rosparam-->
          <rosparam param="global_costmap/obstacle_layer/laser_scan_sensor/topic" subst_value="true">"/scan"</rosparam>

          <rosparam param="local_costmap/robot_base_frame" subst_value="true">"$(arg tf_prefix)/base_link"</rosparam>
          <rosparam param="local_costmap/obstacle_layer/laser_scan_sensor/sensor_frame" subst_value="true">"$(arg tf_prefix)/hokuyo"</rosparam>
          <!--rosparam param="local_costmap/obstacle_layer/laser_scan_sensor/topic" subst_value="true">"$(arg actor_name)/scan"</rosparam-->
          <rosparam param="local_costmap/obstacle_layer/laser_scan_sensor/topic" subst_value="true">"/scan"</rosparam>

          <rosparam param="TebLocalPlannerROS/odom_topic" subst_value="true">"/$(arg actor_name)/odom"</rosparam>
          <!--rosparam param="TebLocalPlannerROS/odom_topic" subst_value="true">"/odom"</rosparam-->
   
      </node>

</launch> 

