<?xml version="1.0" ?>
<launch>
  <master auto="start"/>

  <arg name="map" default="$(find rasberry_actors)/maps/empty.yaml"/>

  <!-- Run the map server -->
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map)"/>

  <node name="fake_localization" pkg="fake_localization" type="fake_localization">
    <remap from="base_pose_ground_truth" to="odometry/filtered/local" />    <!-- actors have perfect localization so prob dont need this -->
  </node>

  <!-- Run AMCL >
  <include file="$(find amcl)/examples/amcl_diff.launch" /-->

  <node pkg="tf" type="static_transform_publisher" name="static_transform_publisher" args="0 0 0 0 0 0 map world 10" />

<group ns="actor00">
    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
      <param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS" />
      <rosparam file="$(find rasberry_actors)/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
      <rosparam file="$(find rasberry_actors)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
      <rosparam file="$(find rasberry_actors)/config/local_costmap_params.yaml" command="load" />
      <rosparam file="$(find rasberry_actors)/config/global_costmap_params.yaml" command="load" />
      <rosparam file="$(find rasberry_actors)/config/base_local_planner_params.yaml" command="load" />

      <remap from="cmd_vel" to="cmd_vel"/>
      <remap from="scan" to="scan"/>
      <remap from="obst_cloud" to="obst_cloud"/>
      <remap from="map" to="/map"/>
      <remap from="move_base_simple/goal" to="/move_base_simple/goal"/> <!--to get it working from rviz-->
<!--
      <remap from="move_base/goal" to="/move_base/goal"/>
      <remap from="move_base/cancel" to="/move_base/cancel"/>
      <remap from="move_base/result" to="/move_base/result"/>
      <remap from="move_base/status" to="/move_base/status"/>
      <remap from="move_base/feedback" to="/move_base/feedback"/>
      <remap from="move_base/goal" to="/move_base/goal"/>
-->
    </node>
</group>
</launch>
