<?xml version="1.0" ?>

  <!-- Based upon rasberry_simulation 

    We require kinect2_description taken from
      https://gitsvn-nt.oru.se/iliad/software/kinect2_simulation


roslaunch move_base_teb.launch map:=$(rospack find rasberry_navigation)/maps/riseholme_sim.yaml
rviz -d catkin_ws/src/RASberry_git/rasberry_gazebo/rviz/polytunnel_velodyne_kinect2.rviz 
  -->
<launch>

  <!-- Robot model arguments.  -->
  <arg name="start_pose_x" value="0" />
  <arg name="start_pose_y" value="0" />
  <arg name="start_pose_z" value="0" />
  <arg name="start_pose_R" value="0" />
  <arg name="start_pose_P" value="0" />
  <arg name="start_pose_Y" value="0" />

  <arg name="robot_name" default="thorvald" />
  <arg name="robot_model" default="thorvald_ii_4wd4ws_slim" />
  <arg name="model_extras" default="$(find thorvald_model)/urdf/sensor_modules/sensor_frames_lincoln_velo_k2.xacro" />
  <arg name="with_actors" default="true"/> <!-- Include actors in the Gazebo world? -->



  <!-- Gazebo arguments -->
  <arg name="world_name" value="riseholme"/> <!-- Note: the world_name is with respect to GAZEBO_RESOURCE_PATH environmental variable -->
  <arg name="simple_sim" default="True" />
  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/>
  <arg name="verbose" default="false"/>



  <!-- Start gazebo and load the world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="gui" value="$(arg gui)"/>
    <arg name="headless" value="$(arg headless)"/>
    <arg name="debug" value="$(arg debug)"/>
    <arg name="verbose" value="$(arg verbose)"/>
    <arg name="world_name" value="$(find rasberry_gazebo)/worlds/$(arg world_name).world"/>
  </include>



  <!-- Robot model bringup -->
  <include file="$(find thorvald_model)/launch/model.launch">
    <arg name="robot_model" value="$(find thorvald_model)/config/$(arg robot_model)/$(arg robot_model).yaml" />
    <arg name="model_extras" value="$(arg model_extras)" />
  </include>
   
  <include file="$(find thorvald_base)/launch/base_bringup.launch">
    <arg name="robot_model" value="$(find thorvald_model)/config/$(arg robot_model)/$(arg robot_model).yaml" />
    <arg name="simple_sim" value="True" />
  </include>

<!--
*******************************************************************************************************************
  We need to add here a downsampling of the hd color camera to sd color camera to get same data than real kinect
  option b is to add extra lines in xacro model to have two cameras sd and hd
*******************************************************************************************************************
-->



  <node pkg="gazebo_ros" type="spawn_model" name="spawner" args="-urdf -param /robot_description -model thorvald_ii -x $(arg start_pose_x) -y $(arg start_pose_y) -z $(arg start_pose_z) -R $(arg  start_pose_R)  -P $(arg start_pose_P)  -Y $(arg start_pose_Y)"/>

  <include file="$(find rasberry_gazebo)/launch/include_actors.launch" if="$(arg with_actors)"/>



  <!-- twist mux bringup -->
  <include file="$(find thorvald_twist_mux)/launch/twist_mux.launch" />
  <include file="$(find thorvald_teleop)/launch/teleop_xbox.launch" />
  


  <!-- tf -->
  <!--node pkg="tf" type="static_transform_publisher" name="odom_to_world" args="0 0 0 0 0 0 odom world 10"/-->
  <!--node pkg="tf" type="static_transform_publisher" name="world_to_map" args="0 0 0 0 0 0 world map 10"/-->
  <!--node pkg="tf" type="static_transform_publisher" name="map_to_odom" args="0 0 0 0 0 0 map odom 10"/-->

</launch>


<!-- <arg name="robot_model_conf" default="$(find thorvald_model)/config/thorvald_ii_4wd4ws_std/thorvald_ii_4wd4ws_std.yaml" /> -->
<!--<include file="$(find thorvald_bringup)/launch/$(arg robot_model)/$(arg robot_model)_sim.launch" />-->
